		.page-header{
			background-image: url('/LRC-BG.png');
			background-repeat: no-repeat;

			background-size:cover;
			background-position: 50% 50%;
			width: 100%;
			min-height: 110px;
			position:relative;
			float:right;
			margin:0;
			font-size:200%;	
			background-color: #3E6052;
		}
		.page-header p{
			font-size: 0.5em;
			line-height: 1.4em;
			padding: 0 15px;
			color: #040406;
		}

.enrolment {
	background-image: url('/enrolment.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 120px;
}

.courseLevelIntro {
    background-image: linear-gradient( 243deg,  rgba(255,253,221,1) 13.4%, rgba(248,215,215,1) 82.1% );
    padding: 10px;
    font-size: 1.1em;
    margin: 10px 0;
    border-radius: 25px;
}

.courseLevelIntro2 {
    background-image: url('/france-night.jpg');
    padding: 10px;
    font-size: 1.1em;
    margin: 10px 0;
    background-size: cover;
    border-radius: 25px;
}

.levelNav {
    padding: 12px 5px;
    font-size: 1.1em;
    margin: 10px 0;
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    /* backdrop-filter: blur(10px); */
    border-left: 6px solid #f77331;
    border-radius: 12px;
    border-top: solid 1px rgb(255,255,255,0.8);
    border-right: solid 1px rgb(255,255,255,0.8);
    border-bottom: solid 1px rgb(255,255,255,0.8);
}

.levelNav a:hover {
	background: rgba(255, 255, 255, 0.6);
	border-left: 6px 1px 1px 1px solid #f77331;
	color: #f77331;
	cursor: pointer;
}

.divtext {
	background: rgba(255, 255, 255 0.4);
	border: solid 1px rgb(255,255,255,0.8);
	padding: 0px 15px 15px 15px;
	Font-family: Arial,Helvetica,sans-serif;
	color: white;
}

.section-navigation .mdl-bottom .mdl-left .mdl-right {
	display: none;
}

.fas fa-book {
	color: #f77331;
	display: inline-block;
	margin-right: 10px;
}

.single-section {
    /*background-image: linear-gradient( 140deg, rgba(255,253,221,1) 13.4%, rgba(248,215,215,1) 80% ); */
    background: linear-gradient(to top, rgb(247, 121, 125, .4), rgb(251, 215, 134,.6), rgb(198, 255, 221,.2));
}


.nav-tabs {
background-color: white;
/*border-bottom: 2px solid #f77331;*/
}

.dynamic-content {
	display:none;
}

/* Full
.format-onetopic .onetopic .tabcontent {
    
    border-left: solid 1px #fbc8af;
    border-top: solid 1px #fbc8af;
    border-right: solid 1px #fbc8af;
}

.format-onetopic .tab-content {
    background-color: #fefceb;
}

.format-onetopic .tab_content.marker {
    color: #ffffff;
    background-color: #f77331;
}
*/
.course-content .single-section .section-navigation.mdl-bottom {
    background-color: white;
}

/*collapsed topics gradient*/
.course-content ul.ctopics li.section .content .toggle span.the_toggle.tc-small {
    padding-left: 16px;
    padding-right: 16px;
    border-color: #5e537530;
    border-width: thin;
    border-style: ridge;
    margin-left: 0;
    margin-right: 0;
}

.course-content ul.ctopics li.section .content .toggle, .course-content ul.ctopics li.section .content.sectionhidden {
    /* background-color: rgba(255, 255, 255, 1.0); */
    background-image: linear-gradient(45deg, #feebd9, #fce9fd);
}

/*Twitter*/
.timeline-Tweet {
    background-color: rgb(255,255,255,.4);
}
