/*Header Background*/
		.page-header{
		    width: 98%;
		    min-height: 110px;
		    position: relative;
		    float: right;
		    margin: 0;
		    border: solid 1px #ffdd975e;
		    /*background: linear-gradient(140deg, rgba(255, 212, 159, 0.4) 10%, rgb(237, 255, 247) 100%);*/
		    background: linear-gradient(140deg, rgba(220, 219, 255, 0.44) 0%, rgba(255, 202, 219, 0.21), rgba(255, 245, 233, 0.48) 100%);
		    /*background: linear-gradient(140deg, rgba(220, 219, 255, 0.44) 0%, rgba(255, 202, 219, 0.28), rgb(255, 245, 233) 100%)*/

		    /*background: linear-gradient(140deg, rgba(255, 248, 242) 10%, rgba(133, 157, 254, 0.14) 100%)*/
		    /*background-size: 400% 400%;*/
		    /*animation: gradient 30s ease infinite;*/
		}

		.page-header p{
			font-size: 0.5em;
			line-height: 1.4em;
			padding: 0 15px;
			color: #040406;
		}


.enrolment {
	background-image: url('/enrolment.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 120px;
}

.courseLevelIntro {
    background-image: linear-gradient( 243deg,  rgba(255,253,221,1) 13.4%, rgba(248,215,215,1) 82.1% );
    padding: 10px;
    font-size: 1.1em;
    margin: 10px 0;
    border-radius: 25px;
}

.courseLevelIntro2 {
    background-image: url('/france-night.jpg');
    padding: 10px;
    font-size: 1.1em;
    margin: 10px 0;
    background-size: cover;
    border-radius: 25px;
}

.levelNav {
    padding: 12px 5px;
    font-size: 1.1em;
    margin: 10px 0;
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    /* backdrop-filter: blur(10px); */
    border-left: 6px solid #f77331;
    border-radius: 12px;
    border-top: solid 1px rgb(255,255,255,0.8);
    border-right: solid 1px rgb(255,255,255,0.8);
    border-bottom: solid 1px rgb(255,255,255,0.8);
}

.levelNav a:hover {
	background: rgba(255, 255, 255, 0.6);
	border-left: 6px 1px 1px 1px solid #f77331;
	color: #f77331;
	cursor: pointer;
}

.divtext {
	background: rgba(255, 255, 255 0.4);
	border: solid 1px rgb(255,255,255,0.8);
	padding: 0px 15px 15px 15px;
	Font-family: Arial,Helvetica,sans-serif;
	color: white;
}

.section-navigation .mdl-bottom .mdl-left .mdl-right {
	display: none;
}

.fas fa-book {
	color: #f77331;
	display: inline-block;
	margin-right: 10px;
}

.single-section {
    background-image: linear-gradient( 140deg, rgba(255,253,221,1) 13.4%, rgba(248,215,215,1) 80% ); 
    /*background-image: linear-gradient( 110.5deg,  rgba(248,196,249,0.36) 22.8%, rgba(253,122,4,0.15) 64.6% );*/
}


.nav-tabs {
background-color: white;
/*border-bottom: 2px solid #f77331;*/
}

.dynamic-content {
	display:none;
}

/* Full
.format-onetopic .onetopic .tabcontent {
    
    border-left: solid 1px #fbc8af;
    border-top: solid 1px #fbc8af;
    border-right: solid 1px #fbc8af;
}

.format-onetopic .tab-content {
    background-color: #fefceb;
}

.format-onetopic .tab_content.marker {
    color: #ffffff;
    background-color: #f77331;
}
*/
.course-content .single-section .section-navigation.mdl-bottom {
    background-color: white;
}



.course-content ul.ctopics li.section .content .toggle, .course-content ul.ctopics li.section .content.sectionhidden {
    background: linear-gradient(140deg, rgba(203, 255, 225, 0.21) 10%, rgba(133, 157, 254, 0.29) 100%);
    border-color: #8d93ab30;
    color: rgb(60, 86, 130);
}

.course-content ul.ctopics li.section .content .toggle span, .course-content ul.ctopics li.section .content.sectionhidden {
    color: rgb(59, 89, 109);
    text-align: left;
}

.course-content ul.ctopics li.section .content .toggle span.the_toggle {
    display: block;
    padding-bottom: 8px;
    padding-top: 8px;
    width: auto;
}

.course-content ul.ctopics li.section .content .toggle span:hover, .course-content ul.ctopics li.section .content.sectionhidden .toggle span:hover {
    color: rgb(11, 102, 197);
}

.timeline-Footer {
    padding: 15px;
    font-size: 12px;
    background-color: #f7f9ff!important;
}

.timeline-Header {
    padding: 10px;
    background-color: #f7f9ff!important;
}

.timeline-Tweet {
    cursor: pointer;
    padding: 10px;
    background-color: white;
    border-left: solid 1px #e2e8ec;
}

/* Social Media */
.socialMedia {
   min-height: 80px;
   display: block;
}

.socialMedia ul {
  display: flex;
  position: absolute;
}

.socialMedia ul li {
  list-style: none;
}

.socialMedia ul li a {
  width: 70px;
  height: 70px;
  background-color: #ecefffba;
  text-align: center;
  line-height: 70px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 1px solid #1d557d1f;
  z-index: 1;
}

.socialMedia ul li a .icon {
  position: relative;
  color: #1d557d;
  transition: .5s;
  z-index: 3;
}

.socialMedia ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.socialMedia ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

.socialMedia ul li a:hover:before {
  top: 0;
}

.socialMedia ul li:nth-child(1) a:before{
  background: #3b5999;
}

.socialMedia ul li:nth-child(2) a:before{
  background: #55acee;
}

.socialMedia ul li:nth-child(3) a:before {
  background: linear-gradient(135deg, rgba(83,53,207,1) 0%, rgba(222,0,94,1) 100%);
  /*animation: animate_bg 10s infinite linear;*/
}

.fa-certificate:before {
    content: "\f0a3";
    background: -webkit-gradient(linear, left top, left bottom, from(#ffbf19a3), to(#ff7e0f9c));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
}

.blockBG {
    text-align: center;
    padding: 16px;
    background: rgba(255, 248, 242, 0.35);
    border: solid 1px #ffe5af63;
    /* background: linear-gradient(90deg, rgb(255, 245, 234) 0%, rgba(255, 245, 235, 0.53) 100%); */
    margin-top: 24px;
}




/* Social Media */
.socialMedia {
   min-height: 80px;
   display: block;
}

.socialMedia ul {
  display: flex;
  position: absolute;
}

.socialMedia ul li {
  list-style: none;
}

.socialMedia ul li a {
  width: 70px;
  height: 70px;
  background-color: #ecefffba;
  text-align: center;
  line-height: 70px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 1px solid #1d557d1f;
  z-index: 1;
}

.socialMedia ul li a .icon {
  position: relative;
  color: #1d557d;
  transition: .5s;
  z-index: 3;
}

.socialMedia ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.socialMedia ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

.socialMedia ul li a:hover:before {
  top: 0;
}

.socialMedia ul li:nth-child(1) a:before{
  background: #3b5999;
}

.socialMedia ul li:nth-child(2) a:before{
  background: #55acee;
}

.socialMedia ul li:nth-child(3) a:before {
  background: linear-gradient(135deg, rgba(83,53,207,1) 0%, rgba(222,0,94,1) 100%);
  /*animation: animate_bg 10s infinite linear;*/
}


