		.page-header{
			background-image: url('/LRC-BG.png');
			background-repeat: no-repeat;

			background-size:cover;
			background-position: 50% 50%;
			width: 100%;
			min-height: 110px;
			position:relative;
			float:right;
			margin:0;
			font-size:200%;	
			background-color: #3E6052;
		}
		.page-header p{
			font-size: 0.5em;
			line-height: 1.4em;
			padding: 0 15px;
			color: #040406;
		}

.enrolment {
	background-image: url('/enrolment.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 120px;
}

.courseLevelIntro {
    background-image: linear-gradient( 243deg,  rgba(255,253,221,1) 13.4%, rgba(248,215,215,1) 82.1% );
    padding: 10px;
    font-size: 1.1em;
    margin: 10px 0;
    border-radius: 25px;
}

.courseLevelIntro2 {
    background-image: url('/france-night.jpg');
    padding: 10px;
    font-size: 1.1em;
    margin: 10px 0;
    background-size: cover;
    border-radius: 25px;
}

.levelNav {
    padding: 12px;
    font-size: 1.1em;
    margin: 10px 0;
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    border-left: 6px solid #f77331;
    border-radius: 12px;
    border-top: solid 1px rgb(255,255,255,1);
    border-right: solid 1px rgb(255,255,255,1);
    border-bottom: solid 1px rgb(255,255,255,1);
}

.levelNav:hover {
	background: rgba(255, 255, 255, 0.4);
	border-left: 6px solid #f77331;
	border-top: solid 1px rgb(247, 115, 0, 0.2);
    	border-right: solid 1px rgb(247, 115, 0, 0.2);
    	border-bottom: solid 1px rgb(247, 115, 0, 0.2);
	color: #f77331;
	cursor: pointer;
}

.divtext {
	background: rgba(181, 181, 181, 0.4);
	padding: 0px 15px 15px 15px;
	Font-family: Arial,Helvetica,sans-serif;
	color: white;
}


.fas fa-book {
	color: #f77331;
	display: inline-block;
	margin-right: 10px;
}

/* ------------- */

.anim {
	background: linear-gradient(270deg, #fff4e9, #f4ecff, #ecfff8);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 1%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Mouseover Icons */
.icon ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.icon ul li {
  list-style: none;
  margin: 0 15px;
}

.icon ul li a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 63px;
    background: rgb(0,112,168,0.2);
    border-radius: 50%;
    font-size: 30px;
    color: rgb(255,255,255,1);
    transition: .5s;
}

.icon ul li a::before {
  content: '';
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #0070a8;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

.icon ul li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #f77331;
}

.icon ul li a:hover {
  color: #0070a8;
  box-shadow: 0 0 5px #f77331;
  text-shadow: 0 0 5px #f77331;
}

/* Single Section */
.single-section {
	background-image: linear-gradient(270deg, #fff4e9, #f4ecff, #ecfff8);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
	padding-top: 1%;
}

.section-navigation.mdl-bottom {
	background-color: white;	
}

/* Other */
.anim a {
  color: #1d557d!important;
}

.anim a:hover {
    color: #f77331;
}

.nav-tabs { /*Nav bar gradient */
  border-bottom: 3px solid #fb7e2959;
  background-color: white;
  display: none;
}

.nav-tabs>li>a {
    border-left: solid 1px #fed2b4;
    border-top: solid 1px #fed2b4;
    border-right: solid 1px #fed2b4;
    background-image: linear-gradient(45deg, #fff0e6, #fff3eb);
}


/* Social Media */
.socialMedia {
   display: block;	
}

.socialMedia ul {
  display: flex;
  position: absolute;
}

.socialMedia ul li {
  list-style: none;
}

.socialMedia ul li a {
  width: 70px;
  height: 70px;
  background-color: #fff8f0;
  text-align: center;
  line-height: 60px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

.socialMedia ul li a .icon {
  position: relative;
  color: #1d557d;
  transition: .5s;
  z-index: 3;
}

.socialMedia ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.socialMedia ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

.socialMedia ul li a:hover:before {
  top: 0;
}

.socialMedia ul li:nth-child(1) a:before{
  background: #3b5999;
}

.socialMedia ul li:nth-child(2) a:before{
  background: #55acee;
}

.socialMedia ul li:nth-child(3) a:before {
  background: linear-gradient(135deg, #5335cf 0%, #de005e 25%, #f66e48 50%, #de005e 75%, #5335cf 100%);
  animation: animate_bg 10s infinite linear;
}
