/* Social Media */
.socialMedia {
   min-height: 80px;
   display: block;
}

.socialMedia ul {
  display: flex;
  position: absolute;
}

.socialMedia ul li {
  list-style: none;
}

.socialMedia ul li a {
  width: 70px;
  height: 70px;
  background-color: #ecefffba;
  text-align: center;
  line-height: 70px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  border: 1px solid #1d557d1f;
}

.socialMedia ul li a .icon {
  position: relative;
  color: #1d557d;
}
